body {
    text-align: center;
    font-family: Arial;
    background-color: rgb(47, 40, 114);
}

h1 {
    color: purple;
}

#monstro {
    position: absolute;
    font-size: 80px;
    border: none;
    background: none;
    cursor: pointer;
}

#escolher-personagem {
    position: fixed;

    top: 20px;
    left: 20px;

    background-color: white;
    padding: 10px;

    border: 2px solid black;
    border-radius: 10px;
}